<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD in Personal Health Informatics</h1>
            <span>Northeastern University</span>
            <span><address>Boston, MA</address><time>2014 to 2019 (expected)</time></span>
        </header>
        <p>
        
        </p>
        <p>
            <em>Thesis: Bridging Social Critique and Interaction Design.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BS in Cognitive Science, Neuroscience</h1>
            <span>University of California, San Diego</span>
            <span><address>La Jolla, CA</address><time>2007 to 2011</time></span>
        </header>
        <p>
            Coursework included: neuroanatomy, physiology, systems and cognitive neuroscience, modeling and data analysis, sensory perception, memory and attention systems, cognitive development, linguistics, genetics, cell and molecular biology, neurobiology, general and organic chemistry, biochemistry, statistics, physics, calculus, programming, ancient and modern literature, American history, classical music history, Arabic language.
        </p>
    </article>
</section>
