<section class="thirteen columns">
    <h1>Employment</h1>

    <article>
        <header>
            <h1>Staff Research Associate</h1>
            <span><address>La Jolla, CA</address><time>2013 to 2014</time></span>
        </header>
        <p>Contributed to two major research projects, both of which focused on applications of computer vision and machine learning techniques. expression information derived from video; developed and tested neural network and support vector machine learning algorithms.</p>
    </article>
    <article>
        <header>
            <h1>Computational Neuroscience Fellow</h1>
            <span><address>New Haven, CT</address><time>2011 to 2013</time></span>
        </header>
        <p>Initiated, developed, and submitted for publication research projects using functional neuroimaging to investigate social cognition and action perception.</p>
    </article>

</section>
